<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Home </title>

    <link rel="stylesheet" href="home.css">
</head>

<body>
        <!-- navbar of page -->
        <div class="header">

            <nav>

                <h1 class="logo">Lucifer</h1>

                <ul>
                    <li><a href="#">About Us</a></li>

                    <li><button class="btn1"><a href="#">Movies</a></button></li>
                </ul>
            </nav>

        </div>

        <!-- content of page -->

        <div class="content">
            <h1>Lucifer</h1>
            <h3>The Devil, also known as Satan, Lucifer or Baphomet, is a mythic figure who embodies evil.</h3>
        </div>

        <!-- footer -->
        <div class="Footer">
            <footer>
                <p>Copyright @SatanicSquad</p>
            </footer>
        </div>

</body>

</html>